<body id="<%= controller_name %>_<%= action_name %>">

  <div class="userInfo">
  </div>

  <%= render partial: "pictures/form", locals: {picture: @picture} %>

  <br><br><br><br>

  <div id="thePictures">
  </div>

</body>
