<!-- <% if picture.errors.any? %>
 <div id="error_explanation">
   <h2>
     <%= count_errors(picture) %>
     <br>
     Picture Could not be created:
   </h2>

   <ul>
   <% picture.errors.full_messages.each do |message| %>
     <li><%= message %></li><br>
   <% end %>

   <% if picture.location %>
     <% picture.location.errors.full_messages.each do |message| %>
       <li><%= message %></li><br>
     <% end %>
   <% end %>

   </ul>
 </div>
<% end %> -->

<div class="errors">

</div>
