<input type="hidden" name="parseForm">
<div class="pictureBlock">
  <div class="pictureEdit item">
    <%= image_tag @picture.avatar.url, class:"customEditPic"%>
  </div>
</div>
<%= render partial: "pictures/form", locals: {picture: @picture, user: @user, current_user: current_user} %>
