/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.portrait{
  width: 13% !important;
  text-align: center;
  // padding-left: 0px !important;
}

.followRequest{
  width: 15% !important;
  text-align: center;
  // padding-top: 80px !important;
  // padding-right: 0% !important;
}

.col-md-1{
  padding-top: 50px;
  width: 10%;
  // border-style: dotted;
}
//
.searchColumn{
  width: 23%;
  // padding-left: 35px !important;
  // padding-top: 80px !important;
}

.login{
  padding-left: 60px;
  padding-top: 65px;
  width: 17.5%;
}

.row2{
  padding-top: 55px;
}
