// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .allComments{
//   text-align: left !important;
// }

.commentsBlock{
  // width: 20%;
  border-top: outset;
  // margin: 0 auto !important;
  text-align: left;
}

.allComments{
  text-align: left ;
  margin-left: 10% ;
  float: left ;
}
.comment{
  float: left ;
}

#commentsForm{

  margin-left: 10% ;
  text-align: left ;
  margin-bottom: 2% ;
  clear: left ;
}
