.formContent{
  margin: 0 auto;
  margin-top: 10%;
  width: 40%;
}

.ui.modal{
  // margin-top: 1% !important;
  // margin-left: %;
  // margin: 0 auto;
  height: 55% !important;
  width: 40%;
}

#someButton{
  margin-top: 3%;
  width: 20%;
  margin-left: 40%;
  background-color: white;
  color: #9F9F9F !important;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 10px;
}

.formTextBox{
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 10px;
}
