.formContent{
  margin: 0 auto;
  width: 60%;

}

.edit_picture{
  width: 40%;
  margin: 0 auto;
}

.ui.modal{
  margin-top: 1% !important;
  // margin-left: 0%;
  height: 55% !important;
  width: 40%;
}

#someButton{
  margin-top: 3%;
  width: 20%;
  margin-left: 40%;
  background-color: white;
  color: #9F9F9F !important;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 10px;
}
